#bvSubmitContentImage {float: left; width:100px; margin-right: 20px; margin-top: 15px;}
#bvSubmitContentMain {width: 568; margin-top: 15px;}

#BVReviewsContainer, #BVReviewsContainer .BVRRDisplayContent{display:block !important;}